button{
    display: block;
    align-items: center;
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 12px;
    background-color: black;
    border: 2px solid white;
    color: azure;
    
}
body{
    background-color: black;
}

ul {
    list-style: none;
    padding: 0;
  display: flex;          /* make it flex */
  flex-direction: column; /* vertical list */
  align-items: center;    /* centers children horizontally */
}
li {
    color: aqua;
}